*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;        
}
body {
    background-color: #1C2826;
    color: #DAEFB3;
}
nav > ul{
    display: flex;
    padding: 30px ;
    align-items: center;

}
nav > ul > a > li{
    list-style: none;
    font-size: 17px;
    font-weight: 600;
    color: #DAEFB3;
    transition: linear 100ms;

}
nav > ul > button{
    font-size: 15px;
    font-weight: 600;
    padding: 10px 25px;
    border: solid 2px orangered;
    border-radius: 20px;
    background-color: transparent;
    color: #DAEFB3;
    font-family: 'Noto Sans', sans-serif;
    margin-left: 10px;
    cursor: pointer;
}
nav > ul > a{
    text-decoration: none;
    margin: 0px 20px;
    transition: linear 100ms;
}
nav{
    display: flex;
    justify-content: flex-end;
    margin-right: 130px;
}

nav > ul > button :hover{
    color: white;
    background-color: orangered !important;
}

nav > ul > a :hover{
    color: orangered;
}
