*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
.container{
    height: 200vh;
}
body {
    background-color: #4b0000;
    color: #DAEFB3;
    cursor: crosshair;
}
nav > ul{
    display: flex;
    padding: 20px 0px;
    align-items: center;
    margin-left: 110px;

}
nav > ul > a > li{
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    transition: linear 100ms;

}
nav > ul > button{
    font-size: 18px;
    font-weight: 500;
    padding: 13px 29px;
    border: solid 2px orangered;
    border-radius: 20px;
    background-color: transparent;
    color: #f4fbe6;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 26px;
    cursor: pointer;
    transition: linear 100ms;
    /* align-self: flex-end; */
}
nav > ul > a{
    text-decoration: none;
    margin: 0px 20px;
    transition: linear 100ms;
}
nav{
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0.0000000001px;
    background-color: #4b0000;
    /* background-color: ; */
    z-index: 100;
    transition: 0.2s linear;
}


.btn-1 {
    transition: background-color 0.2s ease;
}

.btn-1:hover {
    background-color: #ff4500; /* Set the background color to orange-red on hover */
    color: #ffffff; /* Set your text color */

}

nav > ul > a :hover{
    color: orangered;
}

.land{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.items-land{
    width: 35%;
    margin: 0px 10px;
}

.image-land > img{
    width: 85%;
    filter: brightness(0.9); /* Adjust the value to make it darker (0.7 is just an example) */

}

.txt-land{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 70px;
    height: 60vh !important;
}

h1{
    font-size: 61px;
    font-weight: 400;
    text-align: center;
}

.image-land{
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-1{
    font-size: 38px;
    font-weight: 500;
    color: orangered;
}

.h1-2{
    font-weight: 500;
    color: white;
}

h2{
    padding: 13px 0px 21px 0px;
    font-weight: 300;
    font-size: 31px;
    text-align: center;
}

h2 > span{
    color: greenyellow;
    font-weight: 500;
    padding: 0px 2px;
}

.doctor{
    color: rgb(0, 200, 255);
}

.txt-land > p{
    width: 75%;
    font-weight: 400;
    /* padding-left: 3px; */
    margin-bottom: 38px;
    text-align: center;
    margin-top: 10px;
}

.txt-land > button{
    width: 150px;
    height: 50px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    border: #ff4500 solid 2px;
    background-color: #ff4500;
    transition: ease-in-out 200ms;
    cursor: pointer;
}
.txt-land > button:hover{
    background-color: transparent;
}

/* Add this to your style.css file or wherever your styles are defined */
.custom-cursor {
    position: fixed;
    font-size: 24px; /* Adjust the size of the heart */
    pointer-events: none; /* Ensure the custom cursor doesn't interfere with other elements */
    user-select: none; /* Disable text selection for the custom cursor */
    transform: translate(-50%, -50%);
}

.about{
    display: flex;
    margin: 26vh 10vw;
    justify-content: center;
    height: auto;
}

.about-txt{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-pic{
    width: 40%;

}
.about-pic > img{
    width: 82%;
}

h3{
    font-size: 60px;
    margin-bottom: 30px;
    text-align: center;

}
.about-txt > p{
    text-align: center;
}