*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
       
}
body {
    background-color: #1C2826;
    color: #DAEFB3;
}
nav > ul{
    display: flex;
    padding: 30px ;
    align-items: center;

}
nav > ul > a > li{
    list-style: none;
    font-size: 17px;
    font-weight: 500;
    color: #DAEFB3;
    transition: linear 100ms;

}
nav > ul > button{
    font-size: 17px;
    font-weight: 500;
    padding: 13px 29px;
    border: solid 2px orangered;
    border-radius: 20px;
    background-color: transparent;
    color: #DAEFB3;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 26px;
    cursor: pointer;
    transition: linear 100ms;

}
nav > ul > a{
    text-decoration: none;
    margin: 0px 20px;
    transition: linear 100ms;
}
nav{
    display: flex;
    justify-content: flex-end;
    margin-right: 110px;
}


/* Add this to your style.css file or wherever your styles are defined */
.btn-1 {
    transition: background-color 0.15s ease; /* Add a smooth transition effect */
}

.btn-1:hover {
    background-color: #ff4500; /* Set the background color to orange-red on hover */
    color: #ffffff; /* Set your text color */

}

nav > ul > a :hover{
    color: orangered;
}

.land{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.items-land{
    width: 35%;
    margin: 0px 20px;
}

.image-land > img{
    width: 86%;
}

.txt-land{
    display: flex;
    flex-direction: column;
    /* justify-content: center/; */
    margin-top: 70px;
    height: 60vh !important;
}

h1{
    font-size: 56px;
    font-weight: 400;
}

.image-land{
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-1{
    font-size: 33px;
    font-weight: 500;

    color: orangered;
}

.h1-2{
    font-weight: 500;
    color: white;
}

h2{
    padding: 13px 0px 21px 0px;
    font-weight: 300;
    font-size: 28px;
}

h2 > span{
    color: greenyellow;
    font-weight: 500;
    padding: 0px 2px;
}

.doctor{
    color: rgb(0, 200, 255);
}

.txt-land > p{
    width: 90%;
    font-weight: 400;
    /* padding-left: 3px; */
    margin-bottom: 38px;
}

.txt-land > button{
    width: 150px;
    height: 50px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    border: #ff4500 solid 2px;
    background-color: #ff4500;
    transition: ease-in-out 200ms;
    cursor: pointer;
}
.txt-land > button:hover{
    background-color: transparent;
}